* text=auto
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.conf text eol=lf
backend/app/resources/career/*.csv text eol=lf
backend/app/resources/sample_csv/*.csv text eol=lf
Dockerfile text eol=lf
*.md text eol=lf
